@import "main-styles.css";

/* ----------------------------------Intro Line---------------------------------- */
#sec-1-grid {
    margin: 40px;
    margin-top: 85vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#hero-name{
    position: absolute;
    top: 0;
    animation: fadeUp 1s;
}

.hero-type-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#hero-par{
    flex: 1 1 73%;
    min-width: 30ch;
    animation: fadeUp 2s;
}

#hero-cap {
    flex: 1 1 23%;
    animation: fadeUp 2s;
}

@media screen and (max-width: 950px) {
    #hero-name {
        position: static;
        font-size: 100px;
        margin-left: 0px;
    }
    #sec-1-grid {
        margin-top: 20vh;
    }

    .hero-type-cont {
        flex-direction: column;
    }

    #hero-par {
        min-width: 10px;
        font-size: 30px;
    }

    #hero-cap {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    #sec-1-grid {
        margin: 10px;
    }
    
    #hero-name {
        font-size: 75px;
    }

    #hero-links a h2 {
        font-size: 20px;
    }

    .arrow {
        height: 15px;
    }
}
 /* ----------------------------------Links to Pages---------------------------------- */

 #hero-links {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: right;
    height: 100%;

    visibility: hidden;
}
#hero-links a {
    text-decoration: none;
}
#hero-links a h2{
    display: block;
    position:relative;
}