@import "main-styles.css";

/* ----------------------------------Intro Line---------------------------------- */
#sec-1-grid {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}
#hero-name{
    position: absolute;
    top: 0;
    bottom: 0;
    animation: fadeUp 1s;
}

@media screen and (max-width: 600px) {
    #intro-name {
        display: none;
    }
}


#hero-name span {
    color: var(--primary-color);
}

#hero-par{
    grid-column: 1 / 4;
    grid-row: 5;
    animation: fadeUp 2s;
}

#hero-cap {
    grid-column: 4/ 5;
    grid-row: 5;
    animation: fadeUp 2s;
}

 /* ----------------------------------Links to Pages---------------------------------- */
#hero-links {
    text-align: right;
    grid-column: 1 / 5;
    grid-row: 8 / 10;

    visibility: hidden;
}
#hero-links a {
    text-decoration: none;
}
#hero-links a h2{
    display: block;
    position:relative;
}

