@import "../main-styles.css";
@import "..index-styles.css";


.spacer {
    height: 20vw;
}

.content {
    margin: 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sidebar {
    flex: 1 1 30%;
    max-width: 300px;
}

.body-content {
    flex: 1 1 70%;
}

.port-container {
    display: grid;
    grid-gap: 10px;
    padding-top: 25px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
}

.port-item {
    width: 100%;
    height: 0;
    padding-top: 66.64%;

    height: fit-content;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width:600px){

    .content {
        margin: 10px;
    }

    .port-container {
        display: flex;
        flex-direction: column;
        width: 95vw;
    }

}

/* ---------------------------------Portfolio Items---------------------------------- */

#joy-design {
    background-image: url("../img/port-items/joy-design-mock.jpg");
}

#log-cans {
    background-image: url("../img/port-items/log-cans.png");
}

#lb-bag {
    background-image: url("../img/port-items/lb-bean-bag.png");
}

#sustainable-icon {
    background-image: url("../img/port-items/sustainable-arms.png");
}

#humanities-mock {
    background-image: url("../img/port-items/humanities-mock.png");
}

#lb-logo {
    background-image: url("../img/port-items/lb-logo.png");
}

